.layout {
  width: 100%;
  min-height: 80vh;
  padding: 2rem;
  background-color: rgba($color: #eee, $alpha: 0.4);
  flex: 4;

  h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .search {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
