$color: #FCDD11;
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn {
  background-color: $color;
  padding: 0.5rem 1.75rem;
  font-weight: bold;
  text-transform: capitalize;
  border: 0;
  border-radius: 2px;

  &:hover {
    background-color: hsl(hue($color), 100%, 30%);
    color: #fff;
  }
}
